In [1]:
import sqlite3

In [13]:
con = sqlite3.connect('cours.db')

In [23]:
cur = con.cursor()
cur.execute('create table data(close integer, open integer, volume integer)')
cur.close()

OperationalError: table data already exists

In [24]:
cur = con.cursor()
data = [{'close': 1, 'open': 1, 'volume' : 1}, {'close': 2, 'open': 2, 'volume' : 2}]
for d in data:
    cur.execute("insert into data (close, open, volume) values (:close, :open, :volume)", d)
cur.close()

In [25]:
cur = con.cursor()
cur.execute('select close, open, volume from data')
rows = cur.fetchall()
print(rows)
cur.close()

[(1, 1, 1), (2, 2, 2)]

In [10]:
con.close()

In [30]:
import ccxt
ex = ccxt.binance()
data = ex.fetch_ohlcv('BTC/USDT', limit=10, timeframe='1m')
data

[[1693139460000, 26058.61, 26058.61, 26058.6, 26058.61, 2.01383],
 [1693139520000, 26058.6, 26058.61, 26058.6, 26058.6, 2.06959],
 [1693139580000, 26058.6, 26058.61, 26058.6, 26058.6, 1.05862],
 [1693139640000, 26058.61, 26059.83, 26058.6, 26059.82, 6.84423],
 [1693139700000, 26059.83, 26059.83, 26059.82, 26059.83, 1.36834],
 [1693139760000, 26059.82, 26059.83, 26059.82, 26059.83, 1.58124],
 [1693139820000, 26059.83, 26059.83, 26059.82, 26059.82, 1.14417],
 [1693139880000, 26059.83, 26059.83, 26059.82, 26059.83, 1.40123],
 [1693139940000, 26059.83, 26059.83, 26059.82, 26059.83, 9.58049],
 [1693140000000, 26059.82, 26059.83, 26059.82, 26059.82, 2.03967]]

In [33]:
cur = con.cursor()
cur.execute('create table btcusdt1nm (time integer, open integer, high integer, low integer, close integer, volume integer)')
cur.close()

In [34]:
cur = con.cursor()
for d in data:
    cur.execute("insert into btcusdt1nm (time, open, high, low, close, volume) values (? ,? ,? ,? ,?, ?)", d)
cur.close()

In [36]:
cur = con.cursor()
cur.execute('select time from btcusdt1nm')
rows = cur.fetchall()
print(rows)
cur.close()

[(1693139460000,), (1693139520000,), (1693139580000,), (1693139640000,), (1693139700000,), (1693139760000,), (1693139820000,), (1693139880000,), (1693139940000,), (1693140000000,)]